<!DOCTYPE html>
<html>
<head>
    <title>Tambah Admin Baru</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.twbsPagination.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/be1961fb16.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sidebar">
        <p id="icon" class="text-white text-center"><strong>Sistem Klasifikasi Kemiskinan</strong></p>
        <div class="container-btn">
            <form action="/dashboard" method="post">
                <input id="tombol" type="submit" value="Dashboard" class="btn text-white">
            </form>
            <form action="/klasifikasi" method="post">
                <input id="tombol" type="submit" value="Klasifikasi" class="btn text-white">
            </form>
            <form action="/admin" method="post">
                <input id="tombol" type="submit" value="Admin" class="btn btn-light text-success">
            </form>
            <div class="logout">
                {% if 'user' in session %}
                <form id="logout-form" action="/logout" method="post">
                    <input id="tombol" type="submit" value="Keluar" class="btn btn-danger">
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="main-content container">
        <h2 class="mb-4">Tambah Admin Baru</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">
                        {{ message }}
                        <button type="button" class="close btn btn-light" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
                        </button>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="/add_user" method="post">
            <div class="form-group mb-3">
                <label for="new_nama_user">Nama Lengkap:</label>
                <input type="text" id="new_nama_user" name="new_nama_user" class="form-control" placeholder="Silahkan isi nama lengkap Anda" required>
            </div>
            <div class="form-group mb-3">
                <label for="new_username">Username:</label>
                <input type="text" id="new_username" name="new_username" class="form-control" placeholder="Silahkan isi username anda" required>
            </div>
            <div class="form-group mb-3">
                <label for="new_password">Password:</label>
                <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Silahkan isi kata sandi" required>
            </div>
            <div class="form-group mb-3">
                <label for="confirm_password">Konfirmasi Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Silahkan isi kembali kata sandi" required>
            </div>
            <a href="/admin" class="btn btn-secondary">Kembali</a>
            <button type="submit" class="btn btn-primary">Tambahkan</button>
        </form>
    </div>

    <script src="/static/js/script/script.js"></script>
</body>
</html>
